{% extends 'base/base.html' %}

{% block content %}
<div class="container">
    <h1>Edit Data SNMPTN</h1>
    <br><br>
    <form action="/update_snmptn/{{ datas.0 }}" method="POST">
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Nama Siswa</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="nama_siswa" value="{{datas.1}}" required>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Kelas</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="kelas" value="{{datas.2}}" required>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Program Studi</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="program_studi" value="{{datas.3}}" required>
            </div>
        </div>        
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Universitas</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="universitas" value="{{datas.4}}" required>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Guru Pembimbing</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="guru_pembimbing" value="{{datas.5}}" required>
            </div>
        </div>        
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Tahun Ajaran</label>
            <div class="col-sm-10">
                <input type="number" class="form-control" name="tahun_ajaran" value="{{datas.6}}" required>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-10">
                <button type="submit" class="btn btn-primary">Submit Data</button>
            </div>
        </div>
    </form>
</div>
{% endblock%}