{% extends 'base/base.html' %}

{% block content %}
<div class="container">
    {% if current_user.role == '1' %}    
    <h1>Tambah Data Siswa</h1>
    {% else %}
    <h1>Edit Profil</h1>
    {% endif %}
    <br><br>
    <form action="/update/{{ datas.0 }}" method="POST">
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Nomor Induk Siswa Nasional</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="nisn" value="{{ datas.1 }}" required>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Nomor Induk Siswa Sekolah</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="niss" value="{{ datas.2 }}" required>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Nama Lengkap</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="nama" value="{{ datas.3 }}" required>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Jenis Kelamin</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="jenis_kelamin" value="{{ datas.4 }}" required>
            </div>
        </div>        
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Tempat Lahir</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="tempat_lahir" value="{{ datas.5 }}" required>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Tanggal Lahir</label>
            <div class="col-sm-10">
                <input type="date" class="form-control" name="tanggal_lahir" value="{{ datas.6 }}" required>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Alamat</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="alamat" value="{{ datas.7 }}" required>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Desa</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="desa" value="{{ datas.8 }}" required>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Kecamatan</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="kecamatan" value="{{ datas.9 }}" required>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Kabupaten</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="kabupaten" value="{{ datas.10 }}" required>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Nama Orangtua</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="nama_orangtua" value="{{ datas.11 }}" required>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Asal Sekolah</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="asal_sekolah" value="{{ datas.12 }}" required>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Tahun Ijazah</label>
            <div class="col-sm-10">
                <input type="number" class="form-control" name="tahun_ijazah" value="{{ datas.13 }}" required>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Keterangan</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="keterangan" value="{{ datas.14 }}" required>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Kelas</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="kelas" value="{{ datas.15 }}" required>
            </div>
        </div>        
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Jurusan</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="jurusan" value="{{ datas.16 }}" required>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-10">
                <button type="submit" class="btn btn-primary">Submit Data</button>
            </div>
        </div>
    </form>
</div>
{% endblock%}