{% extends 'base/base.html' %}

{% block content %}
<div class="container-fluid">
  <div class="bg"></div>
  <div class="row">
      <img src="{{url_for('static', filename = 'img/bannerfix.png')}}" class="img-responsive" style="pointer-events: none;">
  </div> 
  <div class="container">
  <!-- Example row of columns -->
  <div class="centered">
      <div class="row c-onlytop-border c-row-margin">
      <div class="col-lg text-center">
          <h2>Tujuan</h2>
          <p>Tujuan umum layanan bimbingan dan konseling adalah membantu peserta didik/konseli agar dapat mencapai kematangan dan kemandirian dalam kehidupannya serta menjalankan tugas-tugas perkembangannya yang mencakup aspek pribadi, sosial, belajar, karir secara utuh dan optimal. Tujuan khusus layanan bimbingan dan konseling adalah membantu konseli agar mampu: 
          <ol class="text-left">
              <li>Memahami dan menerima diri dan lingkungannya</li>
              <li>Merencanakan kegiatan penyelesaian studi, perkembangan karir dan kehidupannya di masa yang akan datang</li>
              <li>Mengembangkan potensinya seoptimal mungkin</li>
              <li>Menyesuaikan diri dengan lingkungannya</li>
              <li>Mengatasi hambatan atau kesulitan yang dihadapi dalam kehidupannya</li>
              <li>Mengaktualiasikan dirinya  secara bertanggung jawab</li>
          </ol>
          </p>
      </div>
      </div>
  </div>

  <div class="row c-row-margin">
      <div class="col-md-6 text-center">
      <h2>Visi</h2>
      <p>Terwujudnya kehidupan manusia yang mandiri  melalui pelayanan bantuan agar peserta didik/konseli berkembang secara optimal, cerdas,terampil,dan berkarakter positif.
      </p>
      </div>
      <div class="col-md-6 text-center c-border c-col-margin">
      <h2>Misi</h2>
      <p>Memberikan pelayanan bantuan agar peserta didik/konseli:
          <ol class="text-left">
          <li>Beriman Kepada Tuhan YME</li>
          <li>Berbudi pekerti luhur </li>
          <li>Berkembang secara optimal dengan memiliki berbagai kompetensi berkenaan dengan:
              <ul>
              <li>Pemahaman diri </li>
              <li>Pemahaman lingkungan</li>
              <li>Pengambilan keputusan dan pengarahan diri</li>
              <li>Perencanaan masa depan</li>
              </ul>
          </li>
          <li>Berkehidupan sehari-hari yang efektif, kreatif dan mandiri.</li>
          </ol>
      </p>
      </div>
  </div>
</div>
  
{% endblock%}