{% extends 'base/base.html' %}

{% block style %}
<link href="{{url_for('static', filename = 'css/signin.css')}}" rel="stylesheet">
{% endblock %}

{% block content %}
    <form action="/login" method="POST" class="form-signin">
        <h2 class="form-signin-heading">Silakan Login</h2>
        <label class="sr-only">Nisn/NIP</label>
        <input  class="form-control" placeholder="NISN/NIP" name="nisn" required autofocus>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" class="form-control" placeholder="Password" name="password" required>
        <a href="/login_guru">Halaman Login Guru</a>
        <br>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Masuk</button>
    </form>
{% endblock %}