{% extends 'base/base.html' %}

{% block style %}
    <link href="{{url_for('static', filename = 'css/custom-card.css')}}" rel="stylesheet">
{% endblock style %}

{% block content %}
    <div class="container-fluid">
        <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 pen">
            <div class="page-header">
                <h1>Data Pengajar Bimbingan Konseling</h1>
            </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4 card-fixed-height">
            <div class="card card-default">
                <div class="card-header"><br></div>
                <div class="card-body card-5-7 custom-card-height" >
                <div class="card-left">
                    <img src="{{url_for('static', filename = 'img/sujati.png')}}" class="img-responsive">
                </div>
                <div class="card-right">
                    <p>
                    <h4><b>Dra. Sujati</b></h4>
                    <h5>NIP. 19670603 199803 2 003</h5>
                    <table style="width: 100%;">
                    <tr>
                        <th style="width: 42px;"></th>
                        <th style="width: 6px;"></th>
                        <th></th>
                    </tr>
                    <tr style="vertical-align: top;">
                        <td>Pangkat/Golongan</td>
                        <td>:</td>
                        <td>Pembina TK 1 / IV B</td>
                    </tr>
                    <tr style="vertical-align: top;">
                        <td>Tempat, Tanggal Lahir</td>
                        <td>:</td>
                        <td>Magetan, 03-06-1967</td>
                    </tr>
                    <tr style="vertical-align: top;" >
                        <td>Alamat</td>
                        <td>:</td>
                        <td>Ds. Pingkuk RT 24/05 Kec. Bendo Magetan</td>
                    </tr>
                    <tr style="vertical-align: top;">
                        <td>No. HP</td>
                        <td>:</td>
                        <td>081234163909</td>
                    </tr>
                    </table>
                    <h5><b>Bimbingan Kelas</b></h5>
                    <ol>
                    <li>X TBSM 2, 3 </li>
                    <li>XI TBSM 2, 3 </li>
                    <li>XII TBSM 2, 3 </li>
                    </ol>
                    <h5><b>Riwayat Pengalaman / Mengajar</b></h5>
                    <Ul>
                    <li>SMPN 2 Bululawang Kab. Malang: 1998-2004 </li>
                    <li>SMPN 1 Poncol Kab. Magetan : 2004-2008</li>
                    <li>SMPN 1 Bendo Kab. Magetan 2008-2011</li>
                    <li>SMKN 1 Bendo Kab. Magetan 2011 - Sekarang</li>
                    </Ul>
                    <h5><b>Riwayat Prestasi yang diraih</b></h5>
                    <Ul>
                    <li>-</li>
                    </Ul>
                    <h5><b>Motto Hidup</b></h5>
                    <Ul>
                    <li>-</li>
                    </Ul>
                    </p>
                </div>
                </div>
                <div class="card-footer"><br></div>
            </div>
            </div>
            <div class="col-sm-4">
            <div class="card card-default">
                <div class="card-header"><br></div>
                <div class="card-body card-5-7 custom-card-height">
                <div class="card-left">
                    <img src="{{url_for('static', filename = 'img/budiw.png')}}" class="img-responsive">
                </div>
                <div class="card-right">
                    <p>
                    <h4><b>Drs. Budi Widodo</b></h4>
                    <h5>NIP. 19661014 199702 1 002</h5>
                    <table style="width: 100%;">
                    <tr>
                        <th style="width: 42px;"></th>
                        <th style="width: 6px;"></th>
                        <th></th>
                    </tr>
                    <tr style="vertical-align: top;">
                        <td>Pangkat/Golongan</td>
                        <td>:</td>
                        <td>Pembina TK 1 / IV B</td>
                    </tr>
                    <tr style="vertical-align: top;">
                        <td>Tempat, Tanggal Lahir</td>
                        <td>:</td>
                        <td>Ponorogo, 14-10-1966</td>
                    </tr>
                    <tr style="vertical-align: top;" >
                        <td>Alamat</td>
                        <td>:</td>
                        <td>Kel. Sampung RT 2/2 Kec. Kawedanan Magetan</td>
                    </tr>
                    <tr style="vertical-align: top;">
                        <td>No. HP</td>
                        <td>:</td>
                        <td>082335247233</td>
                    </tr>
                    </table>
                    <h5><b>Bimbingan Kelas</b></h5>
                    <ol>
                    <li>X DPIB 1, 2 </li>
                    <li>XI DPIB 1 </li>
                    <li>XII DPIB 1, 2 </li>
                    </ol>
                    <h5><b>Riwayat Pengalaman / Mengajar</b></h5>
                    <Ul>
                    <li>SMP Negeri Ngrayun 1 : 1997-2014</li>
                    <li>SMKN 1 Bendo Kab. Magetan : 2014-sekarang</li>
                    </Ul>
                    <h5><b>Riwayat Prestasi yang diraih</b></h5>
                    <Ul>
                    <li>-</li>
                    </Ul>
                    <h5><b>Motto Hidup</b></h5>
                    <Ul>
                    <li>Sukses adalah sebuah perjalanan bukan sebuah tujuan, Usaha lebih penting dari hasilnya</li>
                    </Ul>
                    </p>
                </div>
                </div>
                <div class="card-footer"><br></div>
            </div>
            </div>  
            <div class="col-sm-4">
            <div class="card card-default">
                <div class="card-header"><br></div>
                <div class="card-body card-5-7 custom-card-height">
                <div class="card-left">
                    <img src="{{url_for('static', filename = 'img/hadi.png')}}" class="img-responsive">
                </div>
                <div class="card-right">
                    <p>
                    <h4><b>Hadi Atmojo, S.Pd</b></h4>
                    <h5>NIP. 19630301 198703 1 015</h5>
                    <table style="width: 100%;">
                    <tr>
                        <th style="width: 42px;"></th>
                        <th style="width: 6px;"></th>
                        <th></th>
                    </tr>
                    <tr style="vertical-align: top;">
                        <td>Pangkat/Golongan</td>
                        <td>:</td>
                        <td>Pembina TK 1 / IV B</td>
                    </tr>
                    <tr style="vertical-align: top;">
                        <td>Tempat, Tanggal Lahir</td>
                        <td>:</td>
                        <td>Magetan, 01-03-1963</td>
                    </tr>
                    <tr style="vertical-align: top;" >
                        <td>Alamat</td>
                        <td>:</td>
                        <td>Ds. Kiringan RT 01/01 Kec. Takeran Magetan</td>
                    </tr>
                    <tr style="vertical-align: top;">
                        <td>No. HP</td>
                        <td>:</td>
                        <td>081359113633</td>
                    </tr>
                    </table>
                    <h5><b>Bimbingan Kelas</b></h5>
                    <ol>
                    <li>X TKP 2, X TKRO 4 </li>
                    <li>XI TBSM 1, XI TKRO 4 </li>
                    <li>XII TKRO 4</li>
                    </ol>
                    <h5><b>Riwayat Pengalaman / Mengajar</b></h5>
                    <Ul>
                    <li>SMK Maospati : 1987-2010 </li>
                    <li>SMK PSM Kawedanan : 2010-2018</li>
                    <li>SMKN 1 Bendo Kab. Magetan : 2018-sekarang</li>
                    </Ul>
                    <h5><b>Riwayat Prestasi yang diraih</b></h5>
                    <Ul>
                    <li>-</li>
                    </Ul>
                    <h5><b>Motto Hidup</b></h5>
                    <Ul>
                    <li>SIKECE (Siap Kerja Cekatan)</li>
                    </Ul>
                    </p>
                </div>
                </div>
                <div class="card-footer"><br></div>
            </div>
            </div>  
            <div class="col-sm-4">
            <div class="card card-default">
                <div class="card-header"><br></div>
                <div class="card-body card-5-7 custom-card-height">
                <div class="card-left">
                    <img src="{{url_for('static', filename = 'img/neneng.png')}}" class="img-responsive">
                </div>
                <div class="card-right">
                    <p>
                    <h4><b>Neneng Sri Sulastri, S.Pd, M.Si</b></h4>
                    <h5>NIP. 19721113 200501 2 009</h5>
                    <table style="width: 100%;">
                    <tr>
                        <th style="width: 42px;"></th>
                        <th style="width: 6px;"></th>
                        <th></th>
                    </tr>
                    <tr style="vertical-align: top;">
                        <td>Pangkat/Golongan</td>
                        <td>:</td>
                        <td>Penata TK 1 / IIId</td>
                    </tr>
                    <tr style="vertical-align: top;">
                        <td>Tempat, Tanggal Lahir</td>
                        <td>:</td>
                        <td>Sumedang, 13-11-1972</td>
                    </tr>
                    <tr style="vertical-align: top;" >
                        <td>Alamat</td>
                        <td>:</td>
                        <td>Kel. Kraton RT 12/03 Kec. Maospati Magetan</td>
                    </tr>
                    <tr style="vertical-align: top;">
                        <td>No. HP</td>
                        <td>:</td>
                        <td>08125906847</td>
                    </tr>
                    </table>
                    <h5><b>Bimbingan Kelas</b></h5>
                    <ol>
                    <li>X TITL 1, 2</li>
                    <li>XI TITL 1, 2</li>
                    <li>XII TITL 1, 2</li>
                    </ol>
                    <h5><b>Riwayat Pengalaman / Mengajar</b></h5>
                    <Ul>
                    <li>SMA PGRI Maospati : 2001-2004</li>
                    <li>Pusdiklat Perhutani Madiun : 2003-2008</li>
                    <li>Dosen STISIP Muhammadiyah Madiun : 2008-2021</li>
                    <li>Dosen Poltekes Kemenkes Surabaya : 2012-2018</li>
                    <li>Dosen STIKES Bakti Husada Mulya Madiun : 2011-2012</li>
                    <li>SMKN 1 Bendo Kab. Magetan : 2005-sekarang</li>
                    <li>Narasumber Nasional Guru Pembimbing Khusus 2020-2022</li>
                    <li>pengajar Praktek Angkatan 4</li>
                    </Ul>
                    <h5><b>Riwayat Prestasi yang diraih</b></h5>
                    <Ul>
                    <li>Guru Berprestasi Juara 1 Tingkat Kabupaten</li>
                    <li>KBK (Kelompok Budaya Kerja) Juara Tingkat 1 Kabupaten</li>
                    <li>KBK (Kelompok Budaya Kerja) Juara Tingkat 3 Provinsi</li>
                    <li>Membimbing siswa HSBC Juara 2 Tingkat Provinsi</li>
                    <li>Pembimbing Bagus Dyah Tingkat Kabupaten Juara 1 Tingkat Kabupaten</li>
                    </Ul>
                    <h5><b>Karya Inovasi</b></h5>
                    <Ul>
                    <li>Modul BK</li>
                    <li>Buku Puisi ber-ISBN</li>
                    </Ul>
                    <h5><b>Motto Hidup</b></h5>
                    <Ul>
                    <li>Do It and Prove It</li>
                    </Ul>
                    </p>
                </div>
                </div>
                <div class="card-footer"><br></div>
            </div>
            </div>
            <div class="col-sm-4">
            <div class="card card-default">
                <div class="card-header"><br></div>
                <div class="card-body card-5-7 custom-card-height">
                <div class="card-left">
                    <img src="{{url_for('static', filename = 'img/lilik.png')}}" class="img-responsive">
                </div>
                <div class="card-right">
                    <p>
                    <h4><b>Lilik Dwi Ernawati, S.Pd</b></h4>
                    <h5>NIP. 19800414 200501 2 008</h5>
                    <table style="width: 100%;">
                    <tr>
                        <th style="width: 42px;"></th>
                        <th style="width: 6px;"></th>
                        <th></th>
                    </tr>
                    <tr style="vertical-align: top;">
                        <td>Pangkat/Golongan</td>
                        <td>:</td>
                        <td>Penata TK 1 / IIId</td>
                    </tr>
                    <tr style="vertical-align: top;">
                        <td>Tempat, Tanggal Lahir</td>
                        <td>:</td>
                        <td>Magetan, 14-04-1980</td>
                    </tr>
                    <tr style="vertical-align: top;" >
                        <td>Alamat</td>
                        <td>:</td>
                        <td>KPR Bukit Selosari Permai RT 08/09 Magetan</td>
                    </tr>
                    <tr style="vertical-align: top;">
                        <td>No. HP</td>
                        <td>:</td>
                        <td>085746055180</td>
                    </tr>
                    </table>
                    <h5><b>Bimbingan Kelas</b></h5>
                    <ol>
                    <li>X TKRO 1, 2</li>
                    <li>XI TKRO 1, 2</li>
                    <li>XII TKRO 1, 2</li>
                    </ol>
                    <h5><b>Riwayat Pengalaman / Mengajar</b></h5>
                    <Ul>
                    <li>SMK Negeri 1 Bendo : 2005-sekarang  </li>
                    </Ul>
                    <h5><b>Riwayat Prestasi yang diraih</b></h5>
                    <Ul>
                    <li>-</li>
                    </Ul>
                    <h5><b>Motto Hidup</b></h5>
                    <Ul>
                    <li>Berbuat Baiklah Tanpa Alasan</li>
                    </Ul>
                    </p>
                </div>
                </div>
                <div class="card-footer"><br></div>
            </div>
            </div>
            <div class="col-sm-4">
            <div class="card card-default">
                <div class="card-header"><br></div>
                <div class="card-body card-5-7 custom-card-height">
                <div class="card-left">
                    <img src="{{url_for('static', filename = 'img/naning.png')}}" class="img-responsive">
                </div>
                <div class="card-right">
                    <p>
                    <h4><b>Naning Yulina Turniwati, S.Psi</b></h4>
                    <h5>NIP. 19791229 200501 2 021</h5>
                    <table style="width: 100%;">
                    <tr>
                        <th style="width: 42px;"></th>
                        <th style="width: 6px;"></th>
                        <th></th>
                    </tr>
                    <tr style="vertical-align: top;">
                        <td>Pangkat/Golongan</td>
                        <td>:</td>
                        <td>Penata TK 1 / IIId</td>
                    </tr>
                    <tr style="vertical-align: top;">
                        <td>Tempat, Tanggal Lahir</td>
                        <td>:</td>
                        <td>Pemalang, 29-12-1979</td>
                    </tr>
                    <tr style="vertical-align: top;" >
                        <td>Alamat</td>
                        <td>:</td>
                        <td>Ds. Banaran RT 17/03 Kec. Takeran Magetan</td>
                    </tr>
                    <tr style="vertical-align: top;">
                        <td>No. HP</td>
                        <td>:</td>
                        <td>081335158290</td>
                    </tr>
                    </table>
                    <h5><b>Bimbingan Kelas</b></h5>
                    <ol>
                    <li>X AV 1</li>
                    </ol>
                    <h5><b>Riwayat Pengalaman / Mengajar</b></h5>
                    <Ul>
                    <li>SMK PSM 2 Takeran : 2004-2005</li>
                    <li>SMAN 1 Maospati : 2005-2010</li>
                    </Ul>
                    <h5><b>Riwayat Prestasi yang diraih</b></h5>
                    <Ul>
                    <li>-</li>
                    </Ul>
                    <h5><b>Motto Hidup</b></h5>
                    <Ul>
                    <li>Dalam setiap kegagalan mental hati kita yang diuji, dalam setiap kesuksesan kerendahan hati kita yang diuji.</li>
                    </Ul>
                    </p>
                </div>
                </div>
                <div class="card-footer"><br></div>
            </div>
            </div>  
            <div class="col-sm-4">
            <div class="card card-default">
                <div class="card-header"><br></div>
                <div class="card-body card-5-7 custom-card-height">
                <div class="card-left">
                    <img src="{{url_for('static', filename = 'img/novi.jpg')}}" class="img-responsive">
                </div>
                <div class="card-right">
                    <p>
                    <h4><b>Novi Kusuma Abadi, S.Psi</b></h4>
                    <h5>NIP. 19801103 200604 1 009</h5>
                    <table style="width: 100%;">
                    <tr>
                        <th style="width: 42px;"></th>
                        <th style="width: 6px;"></th>
                        <th></th>
                    </tr>
                    <tr style="vertical-align: top;">
                        <td>Pangkat/Golongan</td>
                        <td>:</td>
                        <td>Penata TK 1 / IIId</td>
                    </tr>
                    <tr style="vertical-align: top;">
                        <td>Tempat, Tanggal Lahir</td>
                        <td>:</td>
                        <td>Madiun, 03-11-1980</td>
                    </tr>
                    <tr style="vertical-align: top;" >
                        <td>Alamat</td>
                        <td>:</td>
                        <td>Jl. Terate No 85 Banjarejo Taman Madiun</td>
                    </tr>
                    <tr style="vertical-align: top;">
                        <td>No. HP</td>
                        <td>:</td>
                        <td>081335588589</td>
                    </tr>
                    </table>
                    <h5><b>Bimbingan Kelas</b></h5>
                    <ol>
                    <li>X DKV 2</li>
                    </ol>
                    <h5><b>Riwayat Pengalaman / Mengajar</b></h5>
                    <Ul>
                    <li>SMP Negeri 3 Maospati : 2006-2011 </li>
                    <li>SMKN 1 Bendo Kab. Magetan : 2012-sekarang</li>
                    </Ul>
                    <h5><b>Riwayat Prestasi yang diraih</b></h5>
                    <Ul>
                    <li>-</li>
                    </Ul>
                    <h5><b>Motto Hidup</b></h5>
                    <Ul>
                    <li>-</li>
                    </Ul>
                    </p>
                </div>
                </div>
                <div class="card-footer"><br></div>
            </div>
            </div>
            <div class="col-sm-4">
            <div class="card card-default">
                <div class="card-header"><br></div>
                <div class="card-body card-5-7 custom-card-height">
                <div class="card-left">
                    <img src="{{url_for('static', filename = 'img/taufik.png')}}" class="img-responsive">
                </div>
                <div class="card-right">
                    <p>
                    <h4><b>Taufik Budi Sopiyanto, S.Pd</b></h4>
                    <h5>NIP. 19700902 200801 1 013</h5>
                    <table style="width: 100%;">
                    <tr>
                        <th style="width: 42px;"></th>
                        <th style="width: 6px;"></th>
                        <th></th>
                    </tr>
                    <tr style="vertical-align: top;">
                        <td>Pangkat/Golongan</td>
                        <td>:</td>
                        <td>Penata Muda TK 1/3b</td>
                    </tr>
                    <tr style="vertical-align: top;">
                        <td>Tempat, Tanggal Lahir</td>
                        <td>:</td>
                        <td>Magetan, 02-09-1970</td>
                    </tr>
                    <tr style="vertical-align: top;" >
                        <td>Alamat</td>
                        <td>:</td>
                        <td>Ds. Tamanan RT 02/01 Kec. Sukomoro Magetan</td>
                    </tr>
                    <tr style="vertical-align: top;">
                        <td>No. HP</td>
                        <td>:</td>
                        <td>082143367989</td>
                    </tr>
                    </table>
                    <h5><b>Bimbingan Kelas</b></h5>
                    <ol>
                    <li>X MM 1, X TPTU</li>
                    <li>XI DPIB 2</li>
                    <li>XII TBSM 1, XII TP2</li>
                    </ol>
                    <h5><b>Riwayat Pengalaman / Mengajar</b></h5>
                    <Ul>
                    <li>SMK Panca Bhakti 5 Parang : 2003-2008</li>
                    <li>SMKN 1 Bendo Kab. Magetan : 2008-sekarang</li>
                    </Ul>
                    <h5><b>Riwayat Prestasi yang diraih</b></h5>
                    <Ul>
                    <li>-</li>
                    </Ul>
                    <h5><b>Motto Hidup</b></h5>
                    <Ul>
                    <li>Hidup kita mulai berakhir saat kita berdiam diri tentang apapun masalah yang ada di sekitar.</li>
                    </Ul>
                    </p>
                </div>
                </div>
                <div class="card-footer"><br></div>
            </div>
            </div>
            <div class="col-sm-4">
            <div class="card card-default">
                <div class="card-header"><br></div>
                <div class="card-body card-5-7 custom-card-height">
                <div class="card-left">
                    <img src="{{url_for('static', filename = 'img/yongki.png')}}" class="img-responsive">
                </div>
                <div class="card-right">
                    <p>
                    <h4><b>Yongki Prasetya, S.Pd</b></h4>
                    <h5>NIP. 19910624 202221 1 015</h5>
                    <table style="width: 100%;">
                    <tr>
                        <th style="width: 42px;"></th>
                        <th style="width: 6px;"></th>
                        <th></th>
                    </tr>
                    <tr style="vertical-align: top;">
                        <td>Pangkat/Golongan</td>
                        <td>:</td>
                        <td>IX</td>
                    </tr>
                    <tr style="vertical-align: top;">
                        <td>Tempat, Tanggal Lahir</td>
                        <td>:</td>
                        <td>Ngawi, 24 juni 1991</td>
                    </tr>
                    <tr style="vertical-align: top;" >
                        <td>Alamat</td>
                        <td>:</td>
                        <td>Dsn. Bombong RT 03/ RW 01, Ds. Bangunasri, Kec. Barat, Kab. Magetan</td>
                    </tr>
                    <tr style="vertical-align: top;">
                        <td>No. HP</td>
                        <td>:</td>
                        <td>082234893595</td>
                    </tr>
                    </table>
                    <h5><b>Bimbingan Kelas</b></h5>
                    <ol>
                    <li>X TBSM 1, X TKRO 3, X AV 2</li>
                    <li>XI TKRO 3</li>
                    <li>XII TKRO 3</li>
                    </ol>
                    <h5><b>Riwayat Pengalaman / Mengajar</b></h5>
                    <Ul>
                    <li>SMP Negeri 2 Ngawi : 2013-2014</li>
                    <li>Drafter di CV bumi Borneo konsultan Samarinda : 2001-2004</li>
                    <li>SMK PGRI 6 Ngawi : 2016-2022</li>
                    <li>SMKN 1 Bendo Kab. Magetan : 2022-sekarang</li>
                    </Ul>
                    <h5><b>Riwayat Prestasi yang diraih</b></h5>
                    <Ul>
                    <li>Juara 1 siaga bencana Jumbara PMI kab Ngawi sebagai pembina : 2017 </li>
                    <li>Juara 2 disain batik pemkab kabupaten Ngawi : 2018</li>
                    <li>Juara 1 disain hunian sehat Jumbara PMI kabupaten Ngawi sebagai pembina PMR : 2019</li>
                    </Ul>
                    <h5><b>Motto Hidup</b></h5>
                    <Ul>
                    <li>Hasil itu bonus menyelesaikan tugas dengan maksimal itu harus.</li>
                    </Ul>
                    </p>
                </div>
                </div>
                <div class="card-footer"><br></div>
            </div>
            </div>
            <div class="col-sm-4">
            <div class="card card-default">
                <div class="card-header"><br></div>
                <div class="card-body card-5-7 custom-card-height">
                <div class="card-left">
                    <img src="{{url_for('static', filename = 'img/ika.png')}}" class="img-responsive">
                </div>
                <div class="card-right">
                    <p>
                    <h4><b>Ika Dwi Widyawati, S.Psi</b></h4>
                    <h5>NIP. 19840720 202221 2 039</h5>
                    <table style="width: 100%;">
                    <tr>
                        <th style="width: 42px;"></th>
                        <th style="width: 6px;"></th>
                        <th></th>
                    </tr>
                    <tr style="vertical-align: top;">
                        <td>Pangkat/Golongan</td>
                        <td>:</td>
                        <td>IX</td>
                    </tr>
                    <tr style="vertical-align: top;">
                        <td>Tempat, Tanggal Lahir</td>
                        <td>:</td>
                        <td>Madiun, 20-07-1984</td>
                    </tr>
                    <tr style="vertical-align: top;" >
                        <td>Alamat</td>
                        <td>:</td>
                        <td> Ds. Ngetrep, RT 08/ RW 03, Kec. Jiwan, Kab. Madiun</td>
                    </tr>
                    <tr style="vertical-align: top;">
                        <td>No. HP</td>
                        <td>:</td>
                        <td>085733202465</td>
                    </tr>
                    </table>
                    <h5><b>Bimbingan Kelas</b></h5>
                    <ol>
                    <li>X LAS 1, 2</li>
                    <li>XI LAS 1, 2</li>
                    <li>XII LAS 1</li>
                    </ol>
                    <h5><b>Riwayat Pengalaman / Mengajar</b></h5>
                    <Ul>
                    <li>TK Al Hidayah Kota Madiun : 2005-2007 </li>
                    <li>SMK Taman Siswa Kota Madiun : 2007-2022</li>
                    <li>SMK 2 Kota Madiun : 2017-2022</li>
                    <li>SMKN 1 Bendo Kab. Magetan : 2022-sekarang</li>
                    </Ul>
                    <h5><b>Riwayat Prestasi yang diraih</b></h5>
                    <Ul>
                    <li>-</li>
                    </Ul>
                    <h5><b>Motto Hidup</b></h5>
                    <Ul>
                    <li>-</li>
                    </Ul>
                    </p>
                </div>
                </div>
                <div class="card-footer"><br></div>
            </div>
            </div>
            <div class="col-sm-4">
            <div class="card card-default">
                <div class="card-header"><br></div>
                <div class="card-body card-5-7 custom-card-height">
                <div class="card-left">
                    <img src="{{url_for('static', filename = 'img/rima.png')}}" class="img-responsive">
                </div>
                <div class="card-right">
                    <p>
                    <h4><b>Rima Dhani Yanti, S.Pd</b></h4>
                    <h5>NIP. -</h5>
                    <table style="width: 100%;">
                    <tr>
                        <th style="width: 42px;"></th>
                        <th style="width: 6px;"></th>
                        <th></th>
                    </tr>
                    <tr style="vertical-align: top;">
                        <td>Pangkat/Golongan</td>
                        <td>:</td>
                        <td>-</td>
                    </tr>
                    <tr style="vertical-align: top;">
                        <td>Tempat, Tanggal Lahir</td>
                        <td>:</td>
                        <td>Cianjur, 03-04-1992</td>
                    </tr>
                    <tr style="vertical-align: top;" >
                        <td>Alamat</td>
                        <td>:</td>
                        <td>Ds. Sidomukti RT 22/04 Kec. Plaosan Magetan</td>
                    </tr>
                    <tr style="vertical-align: top;">
                        <td>No. HP</td>
                        <td>:</td>
                        <td>085735737901</td>
                    </tr>
                    </table>
                    <h5><b>Bimbingan Kelas</b></h5>
                    <ol>
                    <li>X TKP 1</li>
                    <li>XI BKP 1, XI BKP 2, XI TPTU</li>
                    <li>XII BKP 1, XII BKP 2</li>
                    </ol>
                    <h5><b>Riwayat Pengalaman / Mengajar</b></h5>
                    <Ul>
                    <li>Penerbit Media Guru : 2015-2020 </li>
                    <li>SMKN 1 Bendo Kab. Magetan : 2016-sekarang</li>
                    </Ul>
                    <h5><b>Riwayat Prestasi yang diraih</b></h5>
                    <Ul>
                    <li>-</li>
                    </Ul>
                    <h5><b>Motto Hidup</b></h5>
                    <Ul>
                    <li>"Lakukanlah kebaikan tanpa syarat". "Dahulukan adab sebelum ilmu".</li>
                    </Ul>
                    </p>
                </div>
                </div>
                <div class="card-footer"><br></div>
            </div>
            </div>
        </div>
    </div>
{% endblock%}