{% extends 'base/base.html' %}

{% block content %}
    <table>
        <tr>
            <td>nisn</td>
            <td>:</td>
            <td>{{datas[1]}}</td>
        </tr>
        <tr>
            <td>niss</td>
            <td>:</td>
            <td>{{datas[2]}}</td>
        </tr>
        <tr>
            <td>nama</td>
            <td>:</td>
            <td>{{datas[3]}}</td>
        </tr>
        <tr>
            <td>jenis_kelamin</td>
            <td>:</td>
            <td>{{datas[4]}}</td>
        </tr>        
        <tr>
            <td>tempat_lahir</td>
            <td>:</td>
            <td>{{datas[5]}}</td>
        </tr>
        <tr>
            <td>tanggal_lahir</td>
            <td>:</td>
            <td>{{datas[6]}}</td>
        </tr>
        <tr>
            <td>alamat</td>
            <td>:</td>
            <td>{{datas[7]}}</td>
        </tr>
        <tr>
            <td>desa</td>
            <td>:</td>
            <td>{{datas[8]}}</td>
        </tr>
        <tr>
            <td>kecamatan</td>
            <td>:</td>
            <td>{{datas[9]}}</td>
        </tr>
        <tr>
            <td>kabupaten</td>
            <td>:</td>
            <td>{{datas[10]}}</td>
        </tr>
        <tr>
            <td>nama_orangtua</td>
            <td>:</td>
            <td>{{datas[11]}}</td>
        </tr>
        <tr>
            <td>asal_sekolah</td>
            <td>:</td>
            <td>{{datas[12]}}</td>
        </tr>
        <tr>
            <td>tahun_ijazah</td>
            <td>:</td>
            <td>{{datas[13]}}</td>
        </tr>
    </table>
    <a href="/edit_data/{{ datas[0] }}">edit profil</a>
{% endblock %}
