{% extends 'base/base.html' %}

{% block style %}
<link href="{{url_for('static', filename = 'css/dataTables.bootstrap.min.css')}}" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="container">
        <h1>Tabel Data Nominatif Siswa SMKN 1 Bendo Magetan</h1>
        <br>
        <table id="example" class="table table-striped table-bordered" style="width:100%">
            <thead>
                <tr>
                    <th>Nomor Induk Siswa Nasional</th>
                    <th>Nomor Induk Siswa Sekolah</th>
                    <th>Tanggal Lahir</th>
                    <th>Tempat Lahir</th>
                    <th>Alamat</th>
                    <th>Jenis Kelamin</th>
                    <th>Nama Orang Tua</th>
                    <th>Asal Sekolah</th>
                    <th>Tahun Ijazah</th>
                    <th>Riwayat Pelayanan</th>
                    <th rowspan="3">Data Assesment</th>
                    <th>Opsi</th>
                </tr>
            </thead>
            <tbody>                
                {% for row in datas %}
                <tr>
                    <td>row</td>
                    <td>123</td>
                    <td>123</td>
                    <td>2</td>
                    <td>2</td>
                    <td>-</td>
                    <td>=</td>
                    <td>=</td>
                    <td>=</td>
                    <td>=</td>
                    <td>=</td>
                    <td>=</td>
                </tr>
                {%endfor%}
            </tbody>
        </table>
    </div>
{% endblock%}

{% block scripts %}
<script src="{{url_for('static', filename = 'js/jquery-3.5.1.js')}}"></script>
<script src="{{url_for('static', filename = 'js/jquery.dataTables.min.js')}}"></script>
<script src="{{url_for('static', filename = 'js/dataTables.bootstrap.min.js')}}"></script>
<script>
    $(document).ready(function () {
        $('#example').DataTable();
    });
</script>
{% endblock %}